<%= link_to "Create New Post", new_post_path %>


    <%@posts.each do |post|%>
   
     <div style="Padding: 10px; margin: 10px; background-color: #efefef; border: 2px solid #aaa" >
            <strong><%= link_to post.title, post_path(post) %></strong>
     
            <br/>
            
            Category: <%= post.cat.title %>
            
            <br />
            <small>published on: <%= format_date(post.created_at) %></small>
            
            <br />
            <%= link_to "Delete", post_path(post), :data => {:confirm => "Are you sure"}, :method => :delete %>
           
     </div>

<%end%> 



