<%= link_to "view All Posts", posts_path %>


<div style="Padding: 10px; margin: 10px; background-color: lightyellow; border:2px solid #aaa" >
    <strong><%= @post.title%></strong>
    <br />

    <%= simple_format(@post.body) %>
    <br />
    
    <small>Category: <%= @post.cat.title %></small>
    <br />
    <small>published on: <%= format_date(@post.created_at) %></small>
</div>


    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Delete This Post", post_path(@post), :data => {:confirm => "Are you sure"}, :method => :delete %> |
    <%= link_to_function "Add Comment", "$('#new_comment').show()" %>
 
   
   <h3> comment </h3>
   <%= render :partial => "comments/form" %>
   <%= render :partial => "comments/comments" %>
    
 
 
 <!-- javascript test link
 <%# link_to_function "testing", "alert('testing the function links')" %>
 -->
